:root {
            --color-primary: darkblue;
            --color-secondary: #eee;
            --color-accent: #333;
            --color-light: white;
            --color-border: #000;
            --color-shadow: gray;
        }

        nav {
            background-color: var(--color-primary);
            padding: 10px;
        }

        nav a {
            color: var(--color-light);
            display: block;
            padding: 10px; 
        }

        h1 {
            color: var(--color-primary);
        }

        main img {
            width: 150px;
            height: auto;
            border: 1px solid var(--color-border);
            padding: 2px;
            box-shadow: 0 0 30px var(--color-shadow);
        }

        p {
            padding: 0;
        }

        main {
            max-width: 840px;
        }

        aside {
            width: 250px;
            height: auto;
            margin: 1rem;
         }